# Runtime
PORT=8080
LOG_PATH=/fizzbuzz-api/logs
LOG_FILE=fizzbuzz-api.log
LOG_LEVEL=info

# DB
DB_DSN=postgres://user:pass@localhost:5432/dbname?sslmode=disable
DB_USER=admin
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
DB_NAME=fizzbuzz-db
DB_TIMEOUT=30 # seconds

# Token
TOKEN_SECRET=token-secret

# DataDog
DD_API_KEY=your_datadog_api_key
DD_ENV=dev
DD_SERVICE=fizzbuzz-api
DD_VERSION=0.1.0
DD_TRACER_PORT=8126
DD_METRICS_PORT=8125